* {
  text-decoration: none;
  box-sizing: border-box;
}

body{
    background: -webkit-linear-gradient(left, #0e251f, #21a0ab);
    background: linear-gradient(to right, #23555c, #21a0ab);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 15px;
}
header, main { 
    width: 100%;
    display: block;
    margin: 0 auto;
}

.header { 
  padding: 5px;
  width: 100%;
  height: 90px;
}
.logo a {
  text-decoration: none; 
  font-family: Luminari, fantasy;
  font-size: 40px;
  color: #000000;
  font-style: italic;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  display: block;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding: 16px;
}

.topnav {
  overflow: hidden;
  background-color: #81181c;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ac2020;
  color: black;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .header { 
    height: 80px;
  }
  .logo a {
    font-size: 27px;
    line-height: 80px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .modalss-content {
    width: 90% !important;
  }
}	
tbody tr:nth-child(even){background-color: #388994;}
tbody tr:nth-child(odd){background-color: #3f9aa6;}

tbody tr:hover {opacity: 0.8;}

h3 {
  padding: 15px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

.bootbox-body {
  color: #fff !important;
}
.modal-header, .modal-footer {
  background-color: #ffffff !important;
  border: none !important;
  color: #fff !important;
}

.modal-body {
  background-color: #fdfdfd !important;
}

.modal-body input[type="text"],
.modal-body input[type="email"],
.modal-body input[type="date"],
.modal-body input[type="time"],
.modal-body select,
.modal-body input[type="password"] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color: #000;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border: 1px solid #e8eeef;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:foPat {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.up_info1, .up_info2 {
  display: none;
  width: 270px;
  height: 40px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  margin-right: 20px;
  text-align: center;
  position: absolute;
}