h1{
  font-size: 28px !important;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif !important;
  text-align: center;
  margin-bottom: 15px;
}
th{
  padding: 15px;
  text-align: center !important;
  font-weight: 500;
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
  border: none !important;
  background-color: rgba(255,255,255,0.3) !important;
}
td{
  padding: 15px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  border-bottom: solid 2px rgba(255,255,255,0.1);
}
.error {
  color: red;
  text-align: center;
}
section {
  margin: 0px 50px;
  overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.form-style-5{
  display: block;
  margin: 0px auto; 
  max-width: 250px;
  padding: 5px;
}
.modal-content input[type="submit"],
.form-style-5 button {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  display: block;
  padding: 8px;
  color: #FFF;
  margin: 0 auto;
  background: #388994;
  font-size: 15px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #388994;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.modal-content input[type="submit"]:hover,
.form-style-5 button:hover {
  background: #813131;
}
.panel {
  border-color: #943838 !important;
}
.panel-heading {
  background-color: #388994 !important;
}
.panel-body {
  background-color: #46abb9 !important;
}

.slideInRight {
  animation-name: slideInRight;
} 
.slideInDown {
  animation-name: slideInDown;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.time {
  display: block;
  position: absolute;
  right: 10%;
  margin-top: -25px;
}
.time input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.time label {
  background-color: #46abb9;
  color: #000;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 6px 12px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
}

.time label:hover {
  cursor: pointer;
}

.time input:checked + label {
  background-color: #5cb85c;
  color: #fff;
  box-shadow: none;
}

/*.time label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.time label:last-of-type {
  border-radius: 0 4px 4px 0;
}*/

@media screen and (max-width: 600px) {
  section {
    margin: 0px 4px;
  }
  h1 {
    font-size: 19px !important;
  }
  th {
    font-size: 11px;
    padding: 5px 2px;
  }
  .form-style-5 button {
    padding: 5px;
    font-size: 14px;
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}